body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 40px;
    text-align: center;  
}
.color-highlight{
    color: #1DBBFF;
    line-height: normal;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 700px;
    padding-bottom: 200px;
}
.header-section{
    padding-top: 100px;
}
.about-section{
    padding-top: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#0FB7FF, #34C2FF);
    padding: 20px 50px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.working-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 100%;
    width: 25%;
}
.title-highlight{
    color: orange;
    font-size: 25px;
}
.working-project{
    padding-right: 50px;
    padding-top: 20px;
}
.project-area{
    background: rgb(240, 238, 238);
    padding-top: 80px;
    height: 450px; 
}
.imlage-resize{
    width: 50%;
    padding-left: 25%;
    padding-top: 5%; 
}
.text-left {
    position: left;
    bottom: 8px;
    left: 16px;
}
.text-align{
    text-align: center;
    color: gray;
    font-size: 30px;
}
.banner-add img{
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-top: 50px;   
}
.container{
    height: 100px;
}
.icon-size{
    position: center;
    height: 50px;
}
.icon-center{
    padding-left: 720px;
    padding-bottom: 100px;
}
